html {
    font-family: 'Outfit', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sofia Sans Condensed', sans-serif;
    background-color:hsl(212, 45%, 89%)
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background-color: white;
    width: 80vw; /* Usamos vw para que el ancho se adapte al viewport */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    border-radius: 0.5rem;
}
.qr-image {
    width: 70vw; /* Usamos vw para que el ancho se adapte al viewport */
    height: auto; /* Usamos auto para que el alto se ajuste proporcionalmente al ancho */
    margin: 0 auto;
    border-radius: 0.5rem;
}
.qr-text {
    margin-top: 10px;
    font-size: 1rem; /* Usamos rem para que el tamaño de la fuente se base en el tamaño de la raíz */
}

/* Estilos para pantallas con un ancho mínimo de 1440px */
@media (min-width: 1440px) {
  .card {
    width: 500px; /* Usamos px para que el ancho sea fijo */
  }
  .qr-image {
    width: 400px; /* Usamos px para que el ancho sea fijo */
    height: 400px; /* Usamos px para que el alto sea fijo */
  }
  .qr-text {
    font-size: 20px; /* Usamos px para que el tamaño de la fuente sea fijo */
  }
}
